
= simple_form_for @plant, :html => {:class => 'form-horizontal'} do |f|
  = f.input :name
  = f.input :common_names
  = f.input :genus
  = f.input :description, :input_html => { :class => "span6" }
  = f.input :colour
  = f.input :comments_care, :input_html => { :class => "span6" }
  = f.input :dimensions, :input_html => {:placeholder => '400x50cm'}
  = f.input :flowering_season, :input_html => {:placeholder => 'eg Late Spring'}
  = f.input :foliage_colour
  = f.input :potential_use, :input_html => {:placeholder => 'eg Cottage, Tropical'}
  = f.input :potential_style

  %div.control-group
    %div.controls
      = f.button :submit