!!!
%html
  %head
    %title Herbage
    %meta{:charset => 'UTF-8'}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.container
      %div.navbar.navbar-fixed-top.navbar-inverse
        %div.navbar-inner
          %div.container
            %a= link_to 'Herbage', root_path, class: 'brand'
            %ul.nav
              %li= link_to "Browse Plants", plants_path, class: 'active'
              %li= link_to "Browse Seeds",  seeds_path,  class: 'active'
              %li= link_to "Planning", planning_path, class: 'active'
      %div.row
        - if notice
          %p.notice
            = notice
        - if alert
          %p.alert
            = alert
        %div.span9
          = yield